{% load staticfiles %}

<html lang="en">
<head>
    <title>Dai's Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mycss.css' %}" />
</head>

<body>
    {% url 'myapp:author' as author_url %}
    <a href="/bucketlist/register/">Register Here</a>
    <a href="/bucketlist/login/">Login</a>
    <a href="/bucketlist" class="btn btn-success">Bucket List App</a>
    <a href="{{ author_url }}" class="btn btn-warning">Author List</a>
    <a href="http://www.dai-yu.com" class="btn btn-primary">Photo Website</a>
    <a href="http://daiyu.tumblr.com/" class="btn btn-danger">Blog</a>
</body>