<!DOCTYPE html>
<html>
    <head>
        <title>BucketList Category</title>
    </head>

    
    <body>
        <h1>{{ category_name }}</h1>
        {% if category %}
            
            <a href="/bucketlist">Back to Bucket List</a>
            <a href="add_page/">Add a New Page</a>
            
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.title }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No pages currently in category.</strong>
            {% endif %}
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}
    </body>
</html>