<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
    
    <head>
        <title>Destination Details</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bucketlist.css' %}" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Josefin+Slab">

        <!--input type="hidden" id="myVar" name="variable" value="{{ page.name }}"-->

        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script type="text/javascript">
            var geocoder;
            var map;
            var location;

            function getUrlVars() {
                var vars = {};
                var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {vars[key] = value;});
                return vars;
            }

            function initialize() {
                var mapCanvas = document.getElementById('detailmap');               
                geocoder = new google.maps.Geocoder();
                var address = "{{page_name_url}}";
                
                //location = getUrlVars()["location"];
                //alert(location);

                var latlng = new google.maps.LatLng(-34.397, 150.644);

                geocoder.geocode({ 'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        var mapOptions = {
                            //center: latlng,
                            center: results[0].geometry.location,
                            zoom: 5,
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                        }

                        map = new google.maps.Map(mapCanvas, mapOptions);
                        //var marker = new google.maps.Marker({map: map, position: results[0].geometry.location});
                        //map.setCenter(results[0].geometry.location);
                    }
                    else{
                        var mapOptions = {
                            center: latlng,
                            zoom: 5,
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                            //var marker = new google.maps.Marker({map: map, position: results[0].geometry.location});
                        }
                        map = new google.maps.Map(mapCanvas, mapOptions);    
                    }
                });

                //geocodeAddress("Germany");
            }

            function geocodeAddress(address, place_name) {
                if (address){ 
                    geocoder.geocode({'address': address}, function(results, status) {
                        if (status === google.maps.GeocoderStatus.OK) {
                            map.setCenter(results[0].geometry.location);
                            map.setZoom(15);
                            var marker = new google.maps.Marker({map: map, position: results[0].geometry.location});
                        } 
                        else {
                            alert('Geocode was not successful for the following reason: ' + status);
                        }
                    });
                }
                else
                    geocoder.geocode({'place_name': place_name}, function(results, status) {
                        if (status === google.maps.GeocoderStatus.OK) {
                            map.setCenter(results[0].geometry.location);
                            map.setZoom(15);
                            var marker = new google.maps.Marker({map: map, position: results[0].geometry.location});
                        } 
                        else {
                            alert('Geocode was not successful for the following reason: ' + status);
                        }
                    });
            }

            google.maps.event.addDomListener(window, 'load', initialize);
        </script>

        <style>
            .panel > .panel-custom {

            }

            .panel-default > .panel-heading-see {
                background: #E19BA6;
                
                font-size: 14px;
                font-family: 'Verdana';
            }

            .panel-default > .panel-heading-eat {
                background: #9DCB8C;

                font-size: 14px;
                font-family: 'Verdana';
            }

            .panel-default > .panel-heading-sleep {
                background: #A5719E;
                
                font-size: 14px;
                font-family: 'Verdana';  
            }

            .panel-custom > .list-group-custom {
                font-size: 14px;
                font-family: 'Verdana';
            }
        </style>
    </head>
    <body>
        {% if filter_page %}
        <div class="container-fluid">
            
            <a href="/bucketlist/category/{{category_name_url}}/" class="btn btn-success">Back to {{filter_page.category}}</a>
            <a href="/bucketlist/category/{{category_name_url}}/{{page_name_url}}/edit" class="btn btn-warning">Edit Bucket List Item</a>
            <a href="delete" class="btn btn-danger">Delete</a>
            <br>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div id="mycontainer">    
                        <div class="row">
                            <div class="col-xs-6 col-md-4"><b>Location:</b></div>
                            <div class="col-xs-12 col-md-8">{{ filter_page.name }}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-4"><b>Country:</b></div>
                            <div class="col-xs-12 col-md-8">{{ filter_page.country }}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-4"><b>Years Visted:</b></div>
                            <div class="col-xs-12 col-md-8">{{ filter_page.years_visted }}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-4"><b>Picture Link:</b></div>
                            {% if filter.picture_link %}
                                <div class="col-xs-12 col-md-8"><a target="_blank" href="{{filter_page.picture_link}}">[See Pictures]</a></div>
                            {% else %}
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-4"><b>Notes:</b></div>
                            <div class="col-xs-12 col-md-8">
                                <div class="notesdiv">{{ filter_page.notes }}</div>
                            </div>
                        </div>
                    </div>
                </div>    
            
                <div class="col-md-6">
                    <div id="detailmap"></div>
                </div>
            </div>
            <br>
            <br>
            
            <div class="panel panel-default panel-custom">
                <div class="panel-heading panel-heading-see">
                    Places to See
                </div>
                <div class="list-group list-group-custom">
                    {% for place in filter_see_places %}
                        <a href="#" class="list-group-item" onClick="geocodeAddress('{{place.address}}, {{place.name}}'); return false"><b>{{ place.name }} </b> - {{ place.notes }}</a>
                    {% endfor %}
                </div>
            </div>
     
            <div class="panel panel-default panel-custom">
                <div class="panel-heading panel-heading-eat">
                    Places to Eat
                </div>
                <div class="list-group list-group-custom">
                    {% for place in filter_eat_places %}
                        <a href="#" class="list-group-item" onClick="geocodeAddress('{{place.address}}, {{place.name}}'); return false"><b>{{ place.name }} </b> - {{ place.notes }}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="panel panel-default panel-custom">
                <div class="panel-heading panel-heading-sleep">
                    Places to Sleep
                </div>
                <div class="list-group list-group-custom">
                    {% for place in filter_sleep_places %}
                        <a href="#" class="list-group-item" onClick="geocodeAddress('{{place.address}}, {{place.name}}'); return false"><b>{{ place.name }} </b> - {{ place.notes }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        {% else %}
            <strong>There are no pages present.</strong>
        {% endif %}
        
        {{changes}}   
    </body>
</html>