{% extends 'html/base.html' %}

{% load staticfiles %}

{% block title %}Travel Bucket List{% endblock %}

{% block custom_style %}
<style>
    #custom-label{
    
    font-size: 18px;
    font-family: 'Josefin Slab';
    font-weight: 600;
}

    #list-item-custom{
    
    font-size: 16px;
    font-family: 'Josefin Slab';
    font-weight: 600;
}

    .panel-default > .panel-heading-upcoming {
        background: #8B5E85;
        color: #ffffff;

        font-size: 30px;
        font-family: 'Josefin Slab';
        font-weight: 600;
    }
/*
    .carousel{
        background: #2f4357;
        margin-top: 20px;
    }
    .carousel .item img{
        margin: 0 auto;
    }
    .bs-example{
        margin: 20px;
    }*/

</style>
{% endblock %}

{% block custom_scripts %}
<!-- Pictures -->
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.googleslides.css' %}" />
<script type="text/javascript" src="{% static 'src/jquery.googleslides.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#pictureframe").googleslides({ userid: '114388032679125757664', albumid: '6190318895951574545', authkey: 'Gv1sRgCPeE8Z2kn5iC4AE',
         imgmax: 800,
         fadespeed: 500,
         time: 8000,
         caption: false,
        });
    });
</script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.css">
<script>
    $(document).ready(function(){
        $('#myTable').DataTable( {
            "paging":   false,
            "ordering": true,
            "info":     true
        });
    });
</script>

<!-- Google Maps API -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?callback=initialize" async defer></script> -->
<script src="https://maps.googleapis.com/maps/api/js?language=en"></script>

<script type="text/javascript">
    var map;
    var geocoder;

    function initialize() {                              
        geocoder = new google.maps.Geocoder();                                       

        var mapCanvas = document.getElementById('globalmap');
        
        var latlng = new google.maps.LatLng(20, 0);

        var mapOptions = {
            center: latlng,
            zoom: 2,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }

        map = new google.maps.Map(mapCanvas, mapOptions);
        
        geocodeAddress("{{filter_category.name}}");

        //setMarker("Peru");
        //setAllMarkers();
    }
    
    function geocodeAddress(address) {

        geocoder.geocode({'address': address}, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                map.setZoom(2);
            }
        });
    }

    function setMarker(address){
        geocoder.geocode({'address': address}, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
              var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
              });
            }
            else {
                if (status == "OVER_QUERY_LIMIT") {    
                    setTimeout(function() {setMarker(address);}, 10);
                }
                else {
                    alert("Geocode was not successful for the following reason: " + status);
                }
            }
        });
    }

    function setAllMarkers(){
        {% for page in filter_pages %}
            setMarker('{{page.name}}, {{page.country}}');
        {% endfor %}
    }

    function test(){
        setMarker("Peru");
    }

    google.maps.event.addDomListener(window, 'load', initialize);
    google.maps.event.addDomListener(window, 'load', setAllMarkers);
    //google.maps.event.addDomListener(window, 'load', test);
</script>

<!-- <script type="text/javascript" src="{% static 'src/swipe.js' %}"></script>
<script>
    window.mySwipe = new Swipe(document.getElementById('slider'), {
        startSlide: 1,
        speed: 400,
        auto: 3000,
        continuous: true,
        disableScroll: true,
        stopPropagation: false,
        callback: function(index, elem) {},
        transitionEnd: function(index, elem) {}
    });
</script> -->


{% endblock %}

{% block body_block_1 %}

<div id="pictureframe"></div>
<!-- <div id='slider' class='swipe'>
  <div class='swipe-wrap'>
    <div>
        <IMG SRC="https://lh3.googleusercontent.com/-93FbJZFtAM0/VgqrfXGZCtI/AAAAAAAAXRI/KdMW8-k0iUk/s2048-Ic42/IMG_0677.JPG&imgmax=400" />
    </div>
    <div>
        2
    </div>
    <div>
       3
    </div>
  </div>
</div> -->    
<br>

{% endblock %}

{% block body_block_2 %}
<div class="panel panel-primary">
    <div class="panel-heading" id="panel_title">
        Travel Destinations
    </div>
    
    <div class="panel-body" id="panel_body">
        <table id="myTable" class="table table-striped">
            <thead>
              <tr>
                <th>Destination</th>
                <th>Region</th>
                <th>Country/State</th>
                <th>Years Visted</th>
                <th>Picture Link</th>
              </tr>
            </thead>
            <tbody>
                {% if filter_pages %}
                    {% for page in filter_pages %}
                        {% if page.was_done == True %}
                            <tr>
                                <td><a href="/category/{{ page.category_url }}/{{ page.name_url }}">{{ page.name }}</a></td>
                                <td>{{ page.category }}</td>
                                <td>{{ page.country }}</td>
                                <td>{{ page.years_visted}}</td>
                                {% if page.picture_link %}
                                    <td><a target="_blank" href="{{page.picture_link}}">[See Pictures]</a></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% else %}
                        <tr>
                            <td>No Locations Added</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block body_block_3 %}
<div id="globalmap"></div>
<br>

{% endblock %}

{% block body_block_4 %}
<div class="panel panel-default panel-custom">
    <div class="panel-heading panel-heading-upcoming">
        <a href="add" class="btn btn-default">
            <!-- Suggest a Destination To Visit! -->
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </a>

        Travel Suggestion Box
    </div>
    <div class="list-group list-group-custom">
        {% for page in upcoming_trips %}
            <li class="list-group-item" id="list-item-custom">
                <span class="label label-primary" id = "custom-label">Votes: {{page.likes}}</span>
                
                <a href="/category/{{page.category_url}}/{{page.name_url}}/upvote" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                </a>

                <a href="/category/{{page.category_url}}/{{page.name_url}}/downvote" class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                </a>

                <a href="/category/{{ page.category_url }}/{{ page.name_url }}" >
                    <b>{{ page.name }} / {{page.country}} </b> - {{ page.notes }} 
                </a>                    
            </li>
        {% endfor %}
    </div>
</div>
{% endblock %}